extends ../layouts/main.pug
block content
  .container
    header
      h1= Metahumans

    div
      table.table.table-striped
        thead
          tr
            th Alias
            th Full Name
            th Affiliation
            th Metatype
            
        tbody
          each metahuman in metahumans
            tr
              td
                a(href=`/metahumans/${metahuman.id}`)= metahuman.alias
              td= metahuman.fullname
              td= metahuman.affiliation
              td= metahuman.metatype 
              td
                a(href=`/metahumans/${metahuman.id}/edit`) edit
                = ` | `
                form.destroy(action=`/metahumans/destroy`, method="POST", onsubmit='return confirm("Are you sure you wish to destroy this beautiful metahuman?")')
                  input(type="hidden", name="id", value=`${metahuman.id}`)
                  input.destroy(type="submit", value="destroy")
          
